/* ==UserStyle==
@name           Width & FontSize
@namespace      zephyrer@github
@version        1.0.106
@description    Adjusting widthes & fontsizes for all
@author         Efisio Zephyr
@homepageURL    https://github.com/zephyrer/usercss
@supportURL     https://github.com/zephyrer/usercss/issues
==/UserStyle== */


font[size="1"] {
  font-size: 22pt !important;
  line-height: 1.5em !important;
}

@-moz-document url-prefix("https://tieba.baidu.com/p/") {
  .tbui_aside_float_bar {
    left: auto !important;
    right: 2px !important;
  }
  .l_container {
    width: calc(100% - 100px) !important;
  }
  .content, .pb_content {
    width: 100% !important;
  }
  .left_section {
    width: calc(100% - 250px) !important;
  }
  .core_title_wrap_bright, .l_post_bright  {
    width: 100% !important;
  }
  .d_post_content_main {
    width: calc(100% - 150px) !important;
  }
  div[id^="post_content_"] {
    font-size: 22pt !important;
    line-height: 1.5em !important;
  }
}

@-moz-document url-prefix("https://tieba.baidu.com/f?") {
  .tbui_aside_float_bar {
    left: auto !important;
    right: 2px !important;
  }
  .head_main .head_middle, .head_main .head_content, .content {
    width: calc(100% - 100px) !important;
  }
  .left_section {
    width: calc(100% - 250px) !important;
  }
  .forum_content .main {
    width: calc(100% - 238px) !important;
  }
  .threadlist_title {
    width: 100% !important;
    font-size: 22pt !important;
    line-height: 1.5em !important;
  }
  .threadlist_text {
    width: 100% !important;
    font-size: 18pt !important;
    line-height: 1.5em !important;
  }
}

@-moz-document domain("github.com") {
	.container {
		width: 90%;
	}
	.markdown-body p,
	.markdown-body span,
	.markdown-body code,
	.markdown-body pre,
	.markdown-body a {
		font-size: 20px !important;
	}
	.markdown-body li {
		font-size: 18px !important;
	}
	.markdown-body h1,
	.markdown-body h1 a {
		font-size: 28px !important;
	}
	.markdown-body h2,
	.markdown-body h3 a {
		font-size: 24px !important;
	}
	.markdown-body h3,
	.markdown-body h3 a {
		font-size: 22px !important;
	}
	.markdown-body h4,
	.markdown-body h4 a {
		font-size: 20px !important;
	}
	.discussion-timeline {
		width: calc(100% - 220px) !important;
	}
}

@-moz-document domain("weibo.com") {
	.B_index div.WB_frame {
		width: 90% !important;
	}
	.B_index .WB_main_l,
	.B_index #v6_pl_leftnav_group > div,
	.B_index .WB_left_nav {
		width: 250px !important;
	}
	.B_index .WB_left_nav .lev .levtxt {
		max-width: 250px !important;
	}
	.B_index .WB_left_nav .lev .ico_block {
		width: 25px !important;
	}
	.B_index .WB_frame #plc_main {
		width: calc(100% - 250px) !important;
	}
	.B_index .B_discover .WB_frame_c, .WB_main_c {
		width: calc(100% - 250px) !important;
	}
	.B_index .WB_main_l a {
		font-size: 14pt !important;
	}
	.B_index .WB_detail,
	.B_index .WB_detail * {
		font-size: 16pt !important;
		line-height: 1.5em !important;
	}
	.B_index .WB_from,
	.B_index .WB_from a {
		font-size: 12pt !important;
	}
	.B_page .WB_frame {
	  width: calc(90%) !important;
	}
	.B_page .WB_frame #plc_main {
	  width: calc(100%) !important;
	}
	.B_page .WB_frame_c {
	  width: calc(100% - 340px) !important;
	}
	.B_page .WB_frame_a {
	  width: 100% !important;
	  margin-right: auto !important;
	  margin-left: auto !important;
	}
	.WB_feed_v3 .WB_media_view, .WB_feed_v3 .WB_media_view .media_show_box li,
	.B_page > .WB_miniblog div.artwork_box {
	  width: 100% !important;
	  height: auto !important;
	}
	.WB_feed_v3 .WB_text,
	.WB_feed_v3 .WB_text .a_topic,
	.WB_feed_v3 .WB_text a[usercard] {
		font-size: 16pt !important;
		line-height: 1.5em !important;
	}
	.W_icon,
  i[class*="icon_"] {
    vertical-align: 2px !important;
    font-size: 16pt !important;
    line-height: 1.5em !important;
	}
	.WB_feed_v3 .W_img_face {
	  width: 24px !important;
	  height: 24px !important;
	}
	#base_scrollToTop,
	.WB_timeline {
	  right: 0 !important;
	  left: auto !important;
	}
	.PCD_connectlist .member_box .member_wrap .mod_info .title {
	  height: auto !important;
	}
	.PCD_connectlist .member_box .member_wrap .mod_info .title .S_txt1 {
		font-size: 16pt !important;
		line-height: 1.5em !important;
	}
	.WB_h5video.hv-s1, .WB_h5video.hv-s3-2, .WB_h5video.hv-s3-5 {
	  min-width: 240px !important;
	  min-height: 160px !important;
	  max-width: 1280px !important;
	  max-height: 960px !important;
	}
	.WB_pic .W_icon_tag_v2,
	div[node-type$="_video_disp"] .con-4 * {
	  font-size: 12px !important;
	}
	.WB_func .WB_handle .S_txt2,
	.WB_func .WB_handle .S_txt2 em,
	.WB_func .WB_handle .W_ficon {
	  vertical-align: middle !important;
	  font-size: 16px !important;
	}
	.WB_func .WB_handle .ficon_praised {
	  height: auto !important;
	}
	:not([yawf-weibo-only]) > .B_page:not([yawf-weibo-only]) .send_weibo_simple .input_simple_wrap .inputfunc_simple_wrap {
	  width: calc(100% - 60px) !important;
	}
	#Pl_Third_Inline__288, .WB_tab_a {
	  background-color: white !important;
	}
	body:not([yawf-weibo-only]) .WB_tab_a .tab_box_a .fr_box {
	  width: calc(100% - 300px) !important;
	}
	body:not([yawf-weibo-only]) .WB_tab_a .tab_box_a_r6 .fr_box {
	  width: calc(100% - 312px) !important;
	}
}

@-moz-document url-prefix("https://support.mozilla.org/en-US/"), url-prefix("https://support.mozilla.org/zh-CN/") {
	p {
		font-size: 22pt !important;
	}
	li {
		font-size: 18pt !important;
	}
	#main-container {
		width: 90% !important;
	}
	.html-ltr .container_12 .grid_9 {
		width: calc(100% - 260px) !important;
	}
}

@-moz-document url-prefix("https://sspai.com/post/") {
  .article-detail {
    width: 90% !important;
  }
  .content,
  .content * {
    font-size: larger !important;
    line-height: 1.5em;
  }
}

@-moz-document url-prefix("http://mozilla.com.cn/thread") {
  #wp {
    width: 90% !important;
  }
  #content {
    width: calc(100% - 320px) !important;
  }
  #main-content {
    width: 100% !important;
  }
  .xmtp .z .deanzt {
    max-width: 100% !important;
  }
  #main-content h1,
  #main-content h1 * {
    font-size: 26pt !important;
    line-height: 1.5em;
  }
  #main-content h2,
  #main-content h2 * {
    font-size: 24pt !important;
    line-height: 1.5em;
  }
  #main-content h3,
  #main-content h3 * {
    font-size: 22pt !important;
    line-height: 1.5em;
  }
  #main-content h4,
  #main-content h4 *,
  #main-content h5,
  #main-content h5 * {
    font-size: 20pt !important;
    line-height: 1.5em;
  }
  #main-content h5,
  #main-content h5 * {
    font-family: 楷体 !important;
  }
  td[id^='postmessage'],
  td[id^='postmessage'] a {
    font-size: 20pt !important;
  }
}

@-moz-document domain("amazon.cn") {
  #outer_postBodyPS {
    font-size: 20pt !important;
    line-height: 1.5em !important;
    height: auto !important;
    max-height: auto !important;
    overflow: auto !important;
  }
  #bookDesc_iframe_wrapper {
    max-width: 100% !important;
  }
}

@-moz-document url-prefix("https://my.qidian.com/bookcase") {
  .col2 {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
  .shelf-table-chapter {
    font-size: 20pt !important;
  }
  .qdp-wrapper {
    width: 90% !important;
  }
  .shelf-table-name {
    max-width: calc(100% - 30px) !important;
  }
  .shelf-table-name + a {
    font-size: 9pt !important;
    font-family: Britannic, sans-serif !important;
    border: 2px solid orange !important;
    padding-right: 5px !important;
  }
}

@-moz-document url-prefix("https://vipreader.qidian.com/chapter/"), url-prefix("https://read.qidian.com/chapter/") {
  div.j_readContent,
  div.j_readContent p {
    font-size: 26pt !important;
    line-height: 1.5em !important;
    font-family: 方正启体_GBK, 腾祥伯当行楷GB18030, "Microsoft Yahei", sans-serif !important;
    color: rgb(83, 83, 83);
  }
  .main-text-wrap .read-content p:first-child {
    ;
  }
  .crumbs-nav,
  #j_readMainWrap {
    width: calc(100% - 124px) !important;
  }
  #j_leftBarList,
  .guide-btn-wrap {
    left: 2px !important;
    margin-left: 0 !important;
  }
  #j_rightBarList {
    right: 2px !important;
    margin-right: 0 !important;
  }
}

@-moz-document url-prefix("https://www.zhihu.com/question/") {
  .QuestionHeader-content,
  .Question-main {
    width: 90% !important;
  }
  .QuestionHeader-main,
  .Question-mainColumn {
    width: 100% !important;
    height: auto !important;
    overflow-y: auto !important;
  }
  .RichText {
    font-size: 20pt !important;
    line-height: 1.5em;
  }
  .Lottie,.Kok {
    left: auto !important;
    right: 2px !important;
  }
}

@-moz-document url-prefix("https://zhuanlan.zhihu.com/p/") {
  .Layout-titleImage--normal {
    width: 90% !important;
  }
  .PostIndex-title {
    font-size: 28pt !important;
  }
  .PostIndex-authorName {
    font-size: 20pt !important;
  }
  .RichText {
    font-size: 20pt !important;
    line-height: 1.5em;
  }
  .RichText figure + p {
    text-align: center;
  }
}

@-moz-document url-prefix("https://developer.mozilla.org/en-US/docs/"), url-prefix("https://developer.mozilla.org/zh-CN/docs/") {
	p, dd, dt {
		font-size: 22pt !important;
	}
	li {
		font-size: 20pt !important;
	}
	.center {
		max-width: 100% !important;
	}
	.text-content p {
		max-width: 100% !important;
	}
	.text-content dl,
	.text-content ol,
	.text-content ul {
		max-width: 90% !important;
	}
	.text-content pre[class*="language-"],
	pre.syntaxbox,
	pre.twopartsyntaxbox {
	  font-size: 1.8rem !important;
	}
}

@-moz-document domain("feedly.com") {
  #feedlyPageFX {
    max-width: 98% !important;
  }
  .fx .col-xl-9 {
    width: 100% !important;
  }
  .fx .entry.u4 {
    max-width: 100% !important;
  }
  .stream h4 {
    font-size: 26pt !important;
    font-family: Britannic, sans-serif !important;
    line-height: 1.5em !important;
  }
  .fx .entry.u4 .title {
    font-size: 22pt !important;
    line-height: 1.5em !important;
  }
  .fx .entry.u4 button {
    width: 40px !important;
    height: 40px !important;
    background-size: 36px 36px !important;
  }
  .metadata {
    font-size: 18pt !important;
    line-height: 1.5em !important;
  }
  .fx .entry.u4 .summary {
    font-size: 20pt !important;
    line-height: 1.5em;
    overflow-y: auto !important;
    max-height: 100% !important;
    height: auto !important;
  }
  #feedlyTabsHolder {
    width: 468px !important;
  }
  #feedlyTabs .label {
    font-size: 18pt !important;
    line-height: 1.5em !important;
    max-width: 380px !important;
  }
  #feedlyTabsHolder .feedIndex .nonEmpty {
    font-size: 14pt !important;
    line-height: 1.5em !important;
    max-width: 380px !important;
  }
  #feedlyFrame,
  #searchBarFX,
  #headerBarFX {
    width: calc(100% - 468px) !important;
    margin-left: 468px !important;
  }
  .sliderWidth {
    width: 90% !important;
  }
  .u100Entry,
  .entryBody {
    max-width: 100% !important;
  }
  .entryBody {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
  .entryBody h2 {
    font-size: 24pt !important;
    line-height: 1.5em !important;
  }
  .entryBody table {
    max-width: 100% !important;
    width: 100% !important;
  }
  .entryBody img {
    width: 70% !important;
    max-width: 100% !important;
    margin-left: 15% !important;
  }
}

@-moz-document url-prefix("http://www.piaotian.com/html/") {
  .mainbody {
    width: 90% !important;
  }
  .centent li a {
    font-size: 18pt !important;
    line-height: 1.5em !important;
  }
  .centent li a:hover {
    color: red !important;
    font-weight: 800 !important;
  }
}

@-moz-document url-prefix("http://www.piaotian.com/html/") {
  .mainbody {
    width: 90% !important;
  }
  .centent li a {
    font-size: 18pt !important;
    line-height: 1.5em !important;
  }
  .centent li a:hover {
    color: red !important;
    font-weight: 800 !important;
  }
}

@-moz-document regexp("http://www.piaotian.com/html/\\d+/\\d+/\\d+\\.html") {
  body {
    width: 90% !important;
  }
  #content {
    font-size: 32pt !important;
    line-height: 1.5em;
    font-family: 方正启体_GBK, 方正姚体, "Microsoft Yahei", sans-serif !important;
    color: navy !important;
  }
  #content h1 {
    font-size: 28pt !important;
    line-height: 1.5em;
    font-family: "Microsoft Yahei", sans-serif !important;
    color: rgb(204, 0, 0) !important;
  }
  #content br + br {
    max-height: 0 !important;
    height: 0 !important;
    line-height: 10px !important;
  }
}

@-moz-document domain("add0n.com") {
  .content {
    max-width: 92% !important;
  }
  body, table {
    font-size: 20pt !important;
    line-height: 1.5em;
  }
}

@-moz-document domain("heartpatrickstudio.com") {
  p.style3 {
    font-size: 24pt !important;
    line-height: 1.5em !important;
  }
  table[style*="max-width"] {
    max-width: 80% !important;
  }
}

@-moz-document regexp(".+/forum.php") {
  .fl_tb {
    font-size: 18pt !important;
    line-height: 1.5em !important;
  }
}

@-moz-document regexp(".+/forum.php\\?mod=viewthread.+"), regexp(".+/thread-\d+-\d+-\d+.html") {
  #thread_subject {
    font-size: 26pt !important;
    line-height: 1.5em !important;
  }
  .t_f, .t_f td {
    font-size: 20pt !important;
  }
  .t_f strong, .t_f td strong {
    font-size: 20pt !important;
  }
}

@-moz-document regexp(".+/forum-\d+.+"), regexp(".+/forum.php\\?mod=forumdisplay&fid=.+") {
  #threadlisttableid tr {
    height: 60px !important;
  }
  .icn + th,
  .xst {
    font-size: 22pt !important;
    line-height: 1.5em !important;
  }
}

@-moz-document domain("zhaifu.cc") {
  .container {
    width: calc(100% - 20px) !important;
    max-width: calc(100% - 20px) !important;
  }
  .excerpt h2 {
    font-size: 24pt !important;
    line-height: 1.5em !important;
  }
  .excerpt .meta, .fa {
    font-size: 16pt !important;
  }
  .excerpt .note {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
  .conad {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
}

@-moz-document regexp(".+/viewthread-\d+.+") {
  #wp {
    width: calc(100% - 20px) !important;
    max-width: calc(100% - 20px) !important;
  }
  #thread_subject {
    font-size: 26pt !important;
    line-height: 1.5em !important;
  }
  .t_f *, .t_f td * {
    font-size: 20pt !important;
  }
  .t_f strong, .t_f td strong {
    font-size: 28pt !important;
  }
}

@-moz-document domain("ycombinator.com") {
  td.title {
    font-size: 24pt !important;
  }
  td.subtext, a.hnuser {
    font-size: 16pt !important;
  }
  .age {
    font-size: 14pt !important;
  }
  .comment {
    font-size: 20pt !important;
  }
}

@-moz-document domain("microsoft.com") {
  .article {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
  #content ul li, #content ol > ul li {
    line-height: 1.5em !important;
  }
  div#content {
    width: calc(100% - 20px) !important;
    max-width: calc(100% - 20px) !important;
  }
  .article {
    width: calc(100% - 0px) !important;
    max-width: calc(100% - 0px) !important;
  }
  #leftNav {
    position: fixed !important;
    left: 0px !important;
    background-color: white !important;
  }
}

@-moz-document domain("mail.google.com") {
  .gt {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
}

@-moz-document domain("quora.com") {
  .ContentWrapper {
    width: calc(100% - 20px) !important;
    max-width: calc(100% - 20px) !important;
  }
  body.feed_card_on .layout_3col_center {
    width: calc(100% - 450px) !important;
  }
  .rendered_qtext {
    font-size: 22pt !important;
    line-height: 1.5em !important;
  }
  .layout_2col_side .rendered_qtext {
    font-size: 16pt !important;
    line-height: 1.5em !important;
  }
  .pagedlist_item {
    font-size: 14pt !important;
    line-height: 1.5em !important;
  }
  ._layout_text_wrapper {
    font-size: 16pt !important;
    line-height: 1.5em !important;
  }
  .CredibilitySection, .CredibilityFacts {
    font-size: 14pt !important;
    line-height: 1.5em !important;
  }
  .u-serif-font-main--regular {
    font-size: 18pt !important;
    line-height: 1.5em !important;
  }
  .u-serif-font-main--large {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
  .layout_2col_main {
    width: calc(100% - 450px) !important;
  }
}

@-moz-document domain("soapone.xyz") {
  #body-wrap > #wrap {
    width: calc(95%) !important;
    max-width: calc(95%) !important;
  }
  #wpforo-wrap .wpfl-1 .wpforo-topic-title,
  #wpforo-wrap .wpf_topic_unread, #wpforo-wrap .wpf_topic_unread a {
    font-size: 18pt !important;
    line-height: 1.5em !important;
  }
  #wpforo-wrap .wpforo-post .wpf-right .wpforo-post-content {
    font-size: 18pt !important;
    line-height: 1.5em !important;
  }
  #wpforo-wrap .wpforo-post .wpf-right .wpforo-post-content p {
    font-size: 22pt !important;
    line-height: 1.5em !important;
  }
  #wpforo-wrap .wpforo-post .wpf-right .wpforo-post-content h2 {
    font-size: 26pt !important;
    line-height: 1.5em !important;
  }
  #wpforo-wrap .wpforo-post .wpf-right .wpforo-post-content .pl {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
}

@-moz-document domain("www.firefox.net.cn") {
  div[id^='read_'] .editor_content {
    font-size: 22pt !important;
    line-height: 1.5em !important;
  }
}


@-moz-document regexp('https?://.+/forum/topic/.+') {
  .ipsComment_meta {
    font-size: 16pt !important;
    line-height: 1.5em !important;
  }
  .cPost_contentWrap .ipsType_normal {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
}

@-moz-document url-prefix("http://book.zongheng.com/chapter/") {
  #readerFs p {
    font-size: 28pt !important;
    line-height: 1.5em !important;
    font-family: "方正兰亭黑Pro_GB18030", sans-serif !important;
    font-weight: 100 !important;
  }
  .rw_6 {
    width: calc(100% - 110px) !important;
  }
  #uiShortcutButton {
    left: auto !important;
    right: 0 !important;
    margin-left: 0 !important;
  }
  #uiDirectoryButton {
    left: 14px !important;
    right: auto !important;
    margin-left: 0 !important;
  }
}

@-moz-document regexp("http://home.zongheng.com/.+\\.do") {
  .wrap {
    width: 90% !important;
  }
  .author_msg {
    width: calc(100% - 140px) !important;
  }
  .myBlock * {
    font-size: 28px !important;
  }
  .myBlock .myMenu {
    width: 200px !important;
  }
  .myBlock .myMain {
    width: calc(100% - 200px) !important;
  }
  #ck_list li {
    height: 60px !important;
  }
  #ck_list li span {
    margin-top: 10px !important;
  }
  .new_chapter .head .time, .new_chapter .head .speed, .new_chapter .main_con .author, .new_chapter .main_con .time, .new_chapter .main_con .speed {
    width: 140px !important;
  }
  .new_chapter .head .handle, .new_chapter .main_con .handle {
    width: 70px !important;
  }
  .new_chapter .head .author, .new_chapter .main_con .author {
    width: 180px !important;
  }
  .new_chapter .head .kind, .new_chapter .main_con .kind {
    width: 70px !important;
  }
  .new_chapter .head .name, .new_chapter .main_con .name {
    width: 184px !important;
  }
  .new_chapter .head .chap, .new_chapter .main_con .chap {
    width: calc(50%) !important;
  }
  .new_chapter .main_con .handle a {
    font-size: 16px !important;
  }
  .new_chapter .head span {
    text-align: center !important;
  }
}

@-moz-document domain("kafan.cn"), domain("pcbeta.com") {
  #wp {
    width: 90% !important;
  }
  :-moz-any(#comeing_toptb, #coeming_hd, #toptb, #hd) .wp {
    width: 90% !important;
  }
  #wp > div:first-child, #wp > .bekwFHNS, #scbar {
    width: 100% !important;
  }
  .ct2_a .mn {
  	width: calc(100% - 200px) !important;
  }
}

@-moz-document domain('wallstreetcn.com') {
  .layout-main > main {
    width: calc(100%) !important;
  }
  #page-livenews {
    width: calc(100%) !important;
  }
  #page-livenews > .livenews {
    width: calc(100% - 360px) !important;
  }
  .wscn-tab-pane div[class^='live-item'] {
    font-size: 14pt !important;
    line-height: 1.5em !important;
  }
}

@-moz-document url-prefix('https://www.baidu.com/s?wd=') {
  .c-container h3 {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
  .c-container .c-offset .c-row {
    font-size: 16pt !important;
    line-height: 1.5em !important;
  }
  .c-container .c-abstract {
    font-size: 16pt !important;
    line-height: 1.5em !important;
  }
}

/*
@-moz-document domain('lofter.com') {
  .g-hdc, .g-hd8, .g-bd, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7, .g-bd8, .g-ft {
    width: calc(94%) !important;
  }
  .g-mn {
    width: calc(100% - 240px) !important;
  }
  .g-bd .g-mn, #comment_frame {
    width: calc(100%) !important;
  }
  .m-mlist .mlistcnt {
    width: calc(100% - 89px) !important;
  }
  .m-mlist .mlistcnt .isay {
    width: calc(100%) !important;
    background-color: white !important;
    background-image: none !important;
  }
  .m-cmt .cmtcnt {
    width: calc(100% - 24px) !important;
  }
  .m-cmt .cmthot {
    width: calc(100% - 44px) !important;
  }
  .m-icnt .tit {
    font-size: 24pt !important;
    line-height: 1.5em !important;
  }
  .cnt .txt, .xtag {
    font-size: 22pt !important;
    line-height: 1.5em !important;
  }
  .g-doc {
    width: calc(100% - 44px) !important;
    padding: 0 22px !important;
  }
  .g-bd {
    width: calc(100%) !important;
  }
  .notes .action {
    width: calc(100% - 30px) !important;
  }
  .post-ctc p {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
  .bcmt {
    font-size: 16pt !important;
    line-height: 1.5em !important;
  }
  .bcmtlstj {
    font-size: 16pt !important;
    line-height: 1.5em !important;
 }
  .bcmtlsta {
    padding: 10px 0 !important;
  }
  .main .content .text {
    font-size: 20pt !important;
    line-height: 1.5em !important;
  }
}
*/

@-moz-document regexp("https://www.booktxt.net/[\d_]+/\d+\.html"), url-prefix("https://www.booktxt.net/files/article/html/") {
  .content_read, .bottem2 {
    width: calc(100%) !important;
  }
  .box_con {
    width: calc(100% - 80px) !important;
  }
  #content {
    font-family: 方正启体_GBK, 腾祥伯当行楷GB18030, "Microsoft Yahei", sans-serif !important;
    font-size: 25pt !important;
  }
  #bdshare {
    padding: 5px 0 !important;
    padding-left: calc((100% - 450px) / 2) !important;
  }
  .bottem1 {
    padding: 5px 0 !important;
    padding-left: calc((100% - 900px) / 2) !important;
  }
  .bottem1 + .lm {
    display: none !important;
  }
}